.dic-home-con{
    background-color: rgb(240, 240, 158);
    padding: 80px;
    border-radius: 20px;
}
.projects-head{
    margin-top: 40px;
    padding: 21px;
    font-family: fantasy;
}

.achives-con{
    background-image: url('https://img.lovepik.com/photo/45010/3200.jpg_wh860.jpg');
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
   
}
@media screen and (min-width: 767px){
    .achives-con{
        padding-left: 16vw;
        padding-right: 16vw;
    }
}
.achivement-card{
    border: 2px solid rgb(56, 49, 49);
    padding: 21px;
    background-color: aliceblue;
    opacity: 0.8;
    border-radius: 21px;
    margin-top: 62px;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    cursor: pointer;
}
.achivement-card:hover{
    transform: scale(1.1);
      background-color: #333;
      color: white;
      border-color: rgb(22, 230, 7);
}
.footer-con{
    background-color: rgb(127, 121, 121);
    color: beige;
}
.social-icon{
    height: 40px;
    width: 40px;
    border: 1px solid beige;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-icon:hover{
    background:linear-gradient(
	45deg,
	#f09433 0%,
	#e6683c 25%,
	#dc2743 50%,
	#cc2366 75%,
	#4862c9 100%
	);
}
